
<label for="AddDrinkName" class="col-form-label me-2">Название:</label>
<input id="AddDrinkName" type="text"
       class="form-control  min-w--100 "  style="flex-basis: 200px">

<label for="AddDrinkPrice" class="col-form-label ms-3 me-2">Цена:</label>
<input id="AddDrinkPrice" type="number"
       class="form-control text-center w--70">

<div class="col-form-label ms-3 me-2">Кол&#8209во:</div>
<input id="AddDrinkCount" type="number"
               class="form-control text-center w--70">
